<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="Datos.Properties.Settings.FonadeConnectionString"
            connectionString="Data Source=QUINONEZ;Initial Catalog=Fonade;Persist Security Info=True;User ID=DiegoArrmando;"
            providerName="System.Data.SqlClient" />-->

      <add name="ApplicationServices"
             connectionString="Data Source=206.49.179.6;Initial Catalog=Fonade2;User ID=desarrollo;Password=Admin1234;"
             providerName="System.Data.SqlClient" /> 

    </connectionStrings>
</configuration>
