<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--Cadena de conexión-->
 <!--   <add name="ApplicationServices" connectionString="Data Source=orinoco-bi;Initial Catalog=Fonade;User ID=sa2;Password=Password1;" providerName="System.Data.SqlClient"/>-->
 <!-- 
      f3l 2014

  dbhost: 

	in production environment:

		10.33.0.200

	in development environment:	

		206.49.179.6

	or maybe localhost, if we can egt the db to shrink enough.

	in order to set this, do not alter the code, instead, do
	modify your hosts file in 
	c:\windows\system32\drivers\etc\hosts
	and add a line with this format:

	1.2.3.4	dbhost

	where 1.2.3.4 is the IP where the database lives.

	this is done so, that we don't need to have two different codebases
	one for production and one for development, but instead
	we only have one codebase.

 -->
 <add name="ApplicationServices" connectionString="Data Source=10.33.0.200;Initial Catalog=Fonade2;User ID=desarrollo;Password=Admin1234;" providerName="System.Data.SqlClient"/>

  <!--localhost: 206.49.179.6 -->
  </connectionStrings> 
  <appSettings>
    
    <!--Variables declaradas en el desarrollo de modernización-->

    <add key="SMTP" value="swift.websitewelcome.com"/>
    <add key="SMTPUsuario" value="felipe@dominiopublico.com.co"/>
    <add key="SMTPPassword" value="Felipe2014"/>
    <add key="SMTP_UsedPort" value="25"/>
    
    <!-- descomentar para produccion -->
    <!--
    <add key="SMTP" value="mail.fondoemprender.com"/>
    <add key="SMTPUsuario" value="Appuser"/>
    <add key="SMTPPassword" value="fEcE5rem"/>
    <add key="SMTP_UsedPort" value="25"/>
    -->
    <!--
      Variables de FONADE clásico "Application".
      Para consultar "posibles" variables omitidas en este documento, buscar
      el documento "ServerVariables.asp" en la carpeta del código fuente del sistema clásico.
    -->

    <!--Cadena de conexión asp. NOTA: En el sistema modenrizado se usa la cadena de conexión llamada "ApplicationServices".-->
    <!--<add key="CadenaConexion" value="Provider=SQLOLEDB;Persist Security Info=False; Data Source =orinoco-bi; Initial Catalog = Fonade; User Id = sa2; Password=Password1" />-->
    <add key="WebSite" value="FONDOEMPRENDER" />
    <add key="MailServer" value="mail.fondoemprender.com" />
    <add key="Email" value="info@fondoemprender.com" />
    <add key="RutaHttp" value="http://orinoco-bi/" />
    <add key="RutaWebSite" value="c:\inetpub\FONADE\" />
    <add key="RutaDocumentosEnRed" value="\\10.3.3.101\Documentos" />
    <add key="RutaDocumentos" value="M:\" />
    <!--Ruta documento pagos "no apunta a la dirección real, tal vez se ha modificado los valores"-->
    <!--<add key="RutaDocumentosPagos" value="M:\PagosFonade\" />-->
    <add key="RutaDocumentosPagos" value="http://www.fondoemprender.com/fonade/Documentos/Fiduciaria/"/>
    <add key="RutaDocumentosInformeFinal"  value="M:\InformeFinal\" />
    <add key="RutaDocumentosInterventoria"  value="M:\InterventoriaProyecto\" />
    <add key="RutaDocumentosCargoNomina" value="M:\CargoNominaProyecto\" />
    <add key="RutaDocumentosProduccion" value="M:\ProduccionProyecto\" />
    <add key="RutaDocumentosVentas" value="M:\VentasProyecto\" />
    <add key="RutaDocumentosProyecto" value="M:\Proyecto\" />
    <add key="RutaDocumentosEvaluacion" value="M:\EvaluacionProyecto\" />
    <add key="RutaDocumentosZIPContratos" value="M:\contratos\zip\" />
    <add key="RutaDocumentosContactoAnexos"  value="M:\contactoAnexos\" />
    <add key="RutaDocumentosContactoAnexos_TEMP"  value="D:\DOC_TEMP\contactoAnexos\" />
    <add key="Rutaurlpdf" value="http://www.fondoemprender.com/Fonade1/" />
    <add key="RutaDocumentosConvocatoriasExcel"  value="M:\ConvocatoriasAcreditacionExcel\" />
    <add key="RutaHttpArchivosExcelActas"  value="http://www.fondoemprender.com/Fonade/Documentos/ConvocatoriasAcreditacionExcel/" />
    <add key="RutaDocumentos_TEMP" value="D:\DOC_TEMP\" />
    <add key="RutaDocumentosPagos_TEMP" value="D:\DOC_TEMP\PagosFonade\" />
    <add key="RutaDocumentosInformeFinal_TEMP"  value="D:\DOC_TEMP\InformeFinal\" />
    <add key="RutaDocumentosInterventoria_TEMP"  value="D:\DOC_TEMP\InterventoriaProyecto\" />
    <add key="RutaDocumentosCargoNomina_TEMP"  value="D:\DOC_TEMP\CargoNominaProyecto\" />
    <add key="RutaDocumentosProduccion_TEMP"  value="D:\DOC_TEMP\ProduccionProyecto\" />
    <add key="RutaDocumentosVentas_TEMP" value="D:\DOC_TEMP\VentasProyecto\" />
    <add key="RutaDocumentosProyecto_TEMP"  value="D:\DOC_TEMP\Proyecto\" />
    <add key="RutaDocumentosEvaluacion_TEMP"  value="D:\DOC_TEMP\EvaluacionProyecto\" />
    <add key="RutaDocumentosZIPContratos_TEMP"  value="D:\DOC_TEMP\contratos\zip\" />
    <add key="AccesoDenegado" value="http://www.fondoemprender.com/fonade/accesodenegado.asp" />
    <add key="SMLV2004" value="358000" />
    <add key="SMLV2005" value="381500" />
    <add key="SMLV2006" value="408000" />
    <add key="SMLV2007" value="433700" />
    <add key="SMLV2008" value="461500" />
    <add key="SMLV2009" value="496900" />
    <add key="SMLV2010" value="515000" />
    <add key="SMLV2011" value="535600" />
    <add key="SMLV2012" value="589500" />
    <add key="APP_Clave_Historial" value="3" />
    <add key="APP_Clave_Dificultad" value="Alta" />
    <add key="APP_Clave_IntentosAcceso" value="5" />
    <add key="APP_Clave_LongitudMax" value="150" />
    <add key="APP_Clave_LongitudMin" value="8" />
    <add key="APP_Clave_ValidarMayusculas"  value="Si" />

  </appSettings>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
      <compilation debug="false" batch="false"/>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0" explicit="true" strict="false">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="ApplicationServices" connectionStringName="ApplicationServices" pollTime="1000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"/>
      </providers>
    </sanitizer>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" defaultUrl="~/Fonade/MiPerfil/Home.aspx" timeout="2880"/>
    </authentication>
    <membership defaultProvider="FonadeMembershipProvider">
      <providers>
        <clear/>
        <add name="FonadeMembershipProvider" type="Fonade.Account.FonadeMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="FonadeProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="FonadeRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages smartNavigation="true" maintainScrollPositionOnPostBack="true">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom">
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/*****.aspx" responseMode="ExecuteURL"/>
      <error statusCode="500" subStatusCode="-1" prefixLanguageFilePath="" path="/*****.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear/>
        <add name="X-UA-Compatible" value="IE=edge,chrome=1"/>
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate"/>
    <defaultDocument>
      <files>
        <add value="Fonade/Miperfil/Home.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.5068.16458" newVersion="5.3.5068.16458"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="smtp.gmail.com" userName="lawrent.suelta@glogic.com.co" password="12345" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
